body {
  background: rgb(70, 69, 69);
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.title {
  font-size: 60px;
}

#city {
  font-size: 30px;
}

.tempContainer {
  font-size: 22px;
}

a {
  color: blue;
}

#desc {
  font-size: 22px;
}
